// 左侧
.left {
  grid-column-start: 1;
  grid-row-start: 2;
  padding-left: $contentGap;
  padding-bottom: $contentGap * 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .left-top, .left-bottom {
    width: 500px;
    height: 445px;
    background: url(../../assets/frame-type-1.png) no-repeat left top / cover;
    > h2 {
      font-size: 1.25rem;
      color: $pureWhite;
      padding-left: 2rem;
      line-height: 2;
    }
  }
  .left-top-1, .left-top-2, .left-bottom-1, .left-bottom-2 {
    padding: 1em;
    h3 {
      font-size: 1.125rem;
      color: $pureWhite;
      display: inline-block;
      border: 3px solid $lightBlue;
      padding-left: 1rem;
      padding-right: 1rem;
      border-top: none;
      border-bottom: none;
    }
  }
  .left-top-2 {
    .wrapper {
      display: flex;
      justify-content: space-between;
      div {
        display: flex;
        p {
          color: $pureWhite;
          &:nth-child(n+2) {
            margin-left: 1rem;
          }
          .num {
            color: $primaryOrange; 
          }
        }
      }
    }
  }
  .left-bottom-1 {
    .wrapper {
      display: flex;
      align-items: center;
      div {
        color: $pureWhite;
        font-size: .875rem;
        margin-left: 1rem;
        p {
          display: inline-block;
        }
      } 
    }
  }
}

// Echarts Container

#left-top-echarts-1 {
  height: 150px;
  position: relative;
  top: -2rem;
}

#left-top-echarts-2 {
  height: 200px;
}

#left-bottom-echarts-1, #left-bottom-echarts-2 {
  height: 150px;
}

#left-bottom-echarts-1 {
  position: relative;
  top: -1rem;
}
