.middle-top {
  .top-wrapper {
    display: flex;
    > div {
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-size: .875rem;
      color: $pureWhite;
      .num {
        background: url("../../assets/numberbg.png") no-repeat;
        background-size: 100% 100%;
        text-align: center;
        height: 42px;
        width: 26px;
        display: inline-block;
        line-height: 42px;
      }
    }
  }
}