// 中间
.middle {
  grid-column-start: 2;
  grid-row-start: 2;
  padding-left: $contentGap;
  padding-right: $contentGap;
  padding-bottom: $contentGap * 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}