.middle-top{
  position: relative;
  .tiltle{
    span{
      background: url("../../assets/numberbg.png") no-repeat ;
      background-size: 100% 100%;
      text-align: center;
    }
    p{
      font-size: 14px;
      font-weight: 500;
      color: #FFFFFF;
    }
    img{
      width: 37px;
      height: 53px;
    }
    .ks{
      position: absolute;
      left: -25px;
      .p1{
        width: 28px;
        height: 13px;
        position: absolute;
        top: 33px;
        left: 69px;
      }
      .p2{
        width: 42px;
        height: 13px;
        position: absolute;
        top: 33px;
        left: 186px;
      }
      .num-1{
        position: relative;
        left: 58px;
        img{
          height: 53px;
          width: 37px;
        }
        span{
          width: 28px;
          height: 39px;
          font-size: 16px;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 43px;
          position: absolute;
          top: 19px;
        }
        .point{
          width: 5px;
          height: 5px;
          font-size: 30px;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 43px;
          position: relative;
          left: 65px;
          top: 23px;
        }
        .num1{
          left: 41px;

        }
        .num2{
          left: 71px;
        }
        .num3{
          left: 95px;
        }
      }
    }
    .hg{
      position: relative;
      left: -50px;
      .p3{
        width: 28px;
        height: 13px;
        position: absolute;
        top: 33px;
        left: 302px;
      }
      .p4{
        width: 42px;
        height: 13px;
        position: absolute;
        top: 33px;
        left: 435px;
      }
      .num-2{
        position: absolute;
        left: 267px;
        top: 0;
        img{
          height: 53px;
          width: 37px;
        }
        span{
          width: 28px;
          height: 39px;
          font-size: 16px;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 43px;
          position: absolute;
          top: 19px;
        }
        .num4{
          left: 65px;
        }
        .num5{
          left: 89px;
        }
        .num6{
          left: 113px;
        }
        .num7{
          left: 137px;
        }
      }
    }
    .jk{
      position: relative;
      left: -75px;
      .p5{
        width: 28px;
        height: 13px;
        position: absolute;
        top: 33px;
        left: 543px;
      }
      .p6{
        width: 42px;
        height: 13px;
        position: absolute;
        top: 33px;
        left: 669px;
      }
      .num-3{
        position: absolute;
        left: 506px;
        top: 0;
        img{
          height: 53px;
          width: 37px;
        }
        span{
          width: 28px;
          height: 39px;
          font-size: 16px;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 43px;
          position: absolute;
          top: 19px;
        }
        .num8{
          left: 65px;
        }
        .num9{
          left: 89px;
        }
        .num10{
          left: 113px;
        }
        .num11{
          left: 137px;
        }
      }
    }
    .wj{
      position: relative;
      left: -100px;
      .p7{
        width: 28px;
        height: 13px;
        position: absolute;
        top: 33px;
        left: 752px;
      }
      .p8{
        width: 42px;
        height: 13px;
        position: absolute;
        top: 33px;
        left: 880px;
      }
      .num-4{
        position: absolute;
        left: 715px;
        top: 0;
        img{
          height: 53px;
          width: 37px;
        }
        span{
          width: 28px;
          height: 39px;
          font-size: 16px;
          font-weight: 400;
          color: #FFFFFF;
          line-height: 43px;
          position: absolute;
          top: 19px;
        }
        .num12{
          left: 65px;
        }
        .num13{
          left: 89px;
        }
        .num14{
          left: 113px;
        }
        .num15{
          left: 137px;
        }
      }
    }


  }
}
