// 右侧
.right {
  grid-column-start: 3;
  grid-row-start: 2;
  padding-right: $contentGap;
  padding-bottom: $contentGap * 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .right-top, .right-bottom {
    width: 500px;
    height: 445px;
    background: url(../../assets/frame-type-1.png) no-repeat left top / cover;
    > h2 {
      font-size: 1.25rem;
      color: $pureWhite;
      padding-left: 2rem;
      line-height: 2;
    }
  }
}