// Colors
$pureWhite: #fff;
$lightBlue: #00d2ff;
$primaryOrange: #ff9600;
$primaryGreen: #0ce773;
$primaryYellow: #ffc412;
$darkRed: #f84849;

// Grid Row Heights
$gridRow1Height: 120px;

// Content Gaps
$contentGap: 20px;