/* overwrite scroll bar default style */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2951a6;
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #2951a6;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #2951a6;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  width: auto;
}

.header {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
  background: url(../../assets/header-bg.png) no-repeat center/contain;
}
.header h1 {
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 0px 5px 0px rgba(7, 58, 152, 0.5);
  text-align: center;
  line-height: 110px;
}

.left {
  grid-column-start: 1;
  grid-row-start: 2;
  padding-left: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.left .left-top, .left .left-bottom {
  width: 500px;
  height: 445px;
  background: url(../../assets/frame-type-1.png) no-repeat left top/cover;
}
.left .left-top > h2, .left .left-bottom > h2 {
  font-size: 1.25rem;
  color: #fff;
  padding-left: 2rem;
  line-height: 2;
}
.left .left-top-1, .left .left-top-2, .left .left-bottom-1, .left .left-bottom-2 {
  padding: 1em;
}
.left .left-top-1 h3, .left .left-top-2 h3, .left .left-bottom-1 h3, .left .left-bottom-2 h3 {
  font-size: 1.125rem;
  color: #fff;
  display: inline-block;
  border: 3px solid #00d2ff;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: none;
  border-bottom: none;
}
.left .left-top-2 .wrapper {
  display: flex;
  justify-content: space-between;
}
.left .left-top-2 .wrapper div {
  display: flex;
}
.left .left-top-2 .wrapper div p {
  color: #fff;
}
.left .left-top-2 .wrapper div p:nth-child(n+2) {
  margin-left: 1rem;
}
.left .left-top-2 .wrapper div p .num {
  color: #ff9600;
}
.left .left-bottom-1 .wrapper {
  display: flex;
  align-items: center;
}
.left .left-bottom-1 .wrapper div {
  color: #fff;
  font-size: 0.875rem;
  margin-left: 1rem;
}
.left .left-bottom-1 .wrapper div p {
  display: inline-block;
}

#left-top-echarts-1 {
  height: 150px;
  position: relative;
  top: -2rem;
}

#left-top-echarts-2 {
  height: 200px;
}

#left-bottom-echarts-1, #left-bottom-echarts-2 {
  height: 150px;
}

#left-bottom-echarts-1 {
  position: relative;
  top: -1rem;
}

.middle {
  grid-column-start: 2;
  grid-row-start: 2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.middle-bottom {
  border: 1px solid #ddd;
  height: 260px;
}

.right {
  grid-column-start: 3;
  grid-row-start: 2;
  padding-right: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.right .right-top, .right .right-bottom {
  width: 500px;
  height: 445px;
  background: url(../../assets/frame-type-1.png) no-repeat left top/cover;
}
.right .right-top > h2, .right .right-bottom > h2 {
  font-size: 1.25rem;
  color: #fff;
  padding-left: 2rem;
  line-height: 2;
}

html, body {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 1920px;
  height: 1080px;
  position: relative;
  transform-origin: top left;
  transform: scale(1);
  display: grid;
  grid-template-columns: [line1] 530px [line2] 860px [line3] 530px;
  grid-template-rows: [line1] 120px [line2] 960px;
  background: url(../../assets/page-bg.jpg) no-repeat left top/1920px 1080px;
}

/*# sourceMappingURL=index.css.map */
