/* overwrite scroll bar default style */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2951a6;
  border-radius: 6px;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: #2951a6;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #2951a6;
}

/* reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

img {
  max-width: 100%;
  width: auto;
}

.header {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 1;
  background: url(../../assets/header-bg.png) no-repeat center/contain;
}
.header h1 {
  font-size: 2.5rem;
  color: #fff;
  text-shadow: 0px 5px 0px rgba(7, 58, 152, 0.5);
  text-align: center;
  line-height: 110px;
}

.left {
  grid-column-start: 1;
  grid-row-start: 2;
  padding-left: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.left .left-top, .left .left-bottom {
  width: 500px;
  height: 445px;
  background: url(../../assets/frame-type-1.png) no-repeat left top/cover;
}
.left .left-top > h2, .left .left-bottom > h2 {
  font-size: 1.25rem;
  color: #fff;
  padding-left: 2rem;
  line-height: 2;
}
.left .left-top-1, .left .left-top-2, .left .left-bottom-1, .left .left-bottom-2 {
  padding: 1em;
}
.left .left-top-1 h3, .left .left-top-2 h3, .left .left-bottom-1 h3, .left .left-bottom-2 h3 {
  font-size: 1.125rem;
  color: #fff;
  display: inline-block;
  border: 3px solid #00d2ff;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: none;
  border-bottom: none;
}
.left .left-top-2 .wrapper {
  display: flex;
  justify-content: space-between;
}
.left .left-top-2 .wrapper div {
  display: flex;
}
.left .left-top-2 .wrapper div p {
  color: #fff;
}
.left .left-top-2 .wrapper div p:nth-child(n+2) {
  margin-left: 1rem;
}
.left .left-top-2 .wrapper div p .num {
  color: #ff9600;
}
.left .left-bottom-1 .wrapper {
  display: flex;
  align-items: center;
}
.left .left-bottom-1 .wrapper div {
  color: #fff;
  font-size: 0.875rem;
  margin-left: 1rem;
}
.left .left-bottom-1 .wrapper div p {
  display: inline-block;
}

#left-top-echarts-1 {
  height: 150px;
  position: relative;
  top: -2rem;
}

#left-top-echarts-2 {
  height: 200px;
}

#left-bottom-echarts-1, #left-bottom-echarts-2 {
  height: 150px;
}

#left-bottom-echarts-1 {
  position: relative;
  top: -1rem;
}

.middle {
  grid-column-start: 2;
  grid-row-start: 2;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.middle .map-wrapper {
  position: relative;
  margin-top: 4rem;
}
.middle .map-wrapper .info-board {
  width: 250px;
  height: 220px;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../../assets/frame-type-4.png) no-repeat center/100% 100%;
}
.middle .map-wrapper .info-board .title {
  text-align: center;
  color: #fff;
  font-size: 1.125rem;
  padding-top: 0.5rem;
}
.middle .map-wrapper .info-board .items {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: space-between;
}
.middle .map-wrapper .info-board .items .name {
  width: 40%;
  color: #27cffD;
  font-size: 0.875rem;
  line-height: 1.8;
}
.middle .map-wrapper .info-board .items .value {
  width: 60%;
  color: #f9bf33;
  font-size: 0.875rem;
  line-height: 1.8;
}
.middle .map-wrapper .info-board.info-board-2 {
  top: 260px;
}
.middle #zhoushan-map {
  width: 100%;
  height: 600px;
}

.middle-top .top-wrapper {
  display: flex;
}
.middle-top .top-wrapper > div {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.875rem;
  color: #fff;
}
.middle-top .top-wrapper > div .num {
  background: url("../../assets/numberbg.png") no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 42px;
  width: 26px;
  display: inline-block;
  line-height: 42px;
}

@keyframes rowup {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, -200px, 0);
  }
}
.middle-bottom {
  height: 260px;
  background: url("../../assets/frame-type-2.png") no-repeat left top/cover;
  position: relative;
}
.middle-bottom > h2 {
  font-size: 1.25rem;
  color: #fff;
  padding-left: 2rem;
  line-height: 2;
}
.middle-bottom .exam {
  display: flex;
}
.middle-bottom .exam .exam-plan .plan-title {
  width: 320px;
  height: 34px;
  position: absolute;
  top: 60px;
  left: 28px;
  background-color: rgba(37, 227, 255, 0.3);
}
.middle-bottom .exam .exam-plan .plan-title span {
  width: 120px;
  height: 16px;
  font-size: 1.25rem;
  font-weight: bold;
  position: absolute;
  top: 3px;
  left: 100px;
  color: #fff;
}
.middle-bottom .exam .exam-plan .plan-body-wrapper {
  width: 320px;
  height: 120px;
  position: absolute;
  top: 112px;
  left: 30px;
  overflow: hidden;
}
.middle-bottom .exam .exam-plan .plan-body-wrapper .plan-body {
  animation: 10s rowup linear infinite normal;
  position: relative;
}
.middle-bottom .exam .exam-plan .plan-body-wrapper span {
  font-weight: 500;
  line-height: 26px;
  font-size: 0.875rem;
  color: #fff;
}
.middle-bottom .exam .exam-data span {
  width: 77px;
  height: 18px;
  font-size: 18px;
  font-weight: bold;
  color: #D2E0E2;
  position: absolute;
  top: 50px;
  left: 544px;
}
.middle-bottom .exam .exam-data .data-body .fwl-img {
  width: 162px;
  height: 38px;
  position: absolute;
  left: 412px;
  top: 85px;
}
.middle-bottom .exam .exam-data .data-body .fwl-title {
  position: absolute;
  left: 444px;
  top: 92px;
  font-weight: bold;
}
.middle-bottom .exam .exam-data .data-body .fwl-data {
  width: 80px;
  height: 18px;
  position: absolute;
  left: 445px;
  top: 132px;
  color: #D2E0E2;
  font-weight: bold;
}
.middle-bottom .exam .exam-data .data-body .bsl-img {
  width: 162px;
  height: 38px;
  position: absolute;
  left: 605px;
  top: 85px;
}
.middle-bottom .exam .exam-data .data-body .bsl-title {
  position: absolute;
  left: 637px;
  top: 92px;
  font-weight: bold;
}
.middle-bottom .exam .exam-data .data-body .bsl-data {
  width: 80px;
  height: 18px;
  position: absolute;
  left: 639px;
  top: 132px;
  color: #D2E0E2;
  font-weight: bold;
}
.middle-bottom .exam .exam-data .data-body .tsl-img {
  width: 162px;
  height: 38px;
  position: absolute;
  left: 415px;
  top: 173px;
}
.middle-bottom .exam .exam-data .data-body .tsl-title {
  position: absolute;
  left: 444px;
  top: 179px;
  width: 90px;
  height: 16px;
  font-weight: bold;
}
.middle-bottom .exam .exam-data .data-body .tsl-data {
  width: 80px;
  height: 18px;
  position: absolute;
  left: 445px;
  top: 216px;
  color: #D2E0E2;
  font-weight: bold;
}
.middle-bottom .exam .exam-data .data-body .syl-img {
  width: 162px;
  height: 38px;
  position: absolute;
  left: 608px;
  top: 173px;
}
.middle-bottom .exam .exam-data .data-body .syl-title {
  position: absolute;
  left: 637px;
  top: 179px;
  width: 110px;
  height: 16px;
  font-weight: bold;
}
.middle-bottom .exam .exam-data .data-body .syl-data {
  width: 80px;
  height: 18px;
  position: absolute;
  left: 639px;
  top: 216px;
  color: #D2E0E2;
  font-weight: bold;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}
.right {
  grid-column-start: 3;
  grid-row-start: 2;
  padding-right: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.right .right-top, .right .right-bottom {
  width: 500px;
  height: 445px;
  background: url(../../assets/frame-type-1.png) no-repeat left top/cover;
}
.right .right-top > h2, .right .right-bottom > h2 {
  font-size: 1.25rem;
  color: #fff;
  padding-left: 2rem;
  line-height: 2;
}
.right .right-top-1, .right .right-top-2, .right .right-bottom-1, .right .right-bottom-2 {
  padding: 1em;
  height: 200px;
}
.right .right-top-1 h3, .right .right-top-2 h3, .right .right-bottom-1 h3, .right .right-bottom-2 h3 {
  font-size: 1.125rem;
  color: #fff;
  display: inline-block;
  border: 3px solid #00d2ff;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: none;
  border-bottom: none;
}
.right .right-top-1 .wrapper {
  display: flex;
  justify-content: space-between;
}
.right .right-top-1 .wrapper .item {
  margin-top: 1rem;
  width: 49%;
  height: 120px;
  background: url(../../assets/frame-type-3.png) no-repeat left top;
  background-size: 100% 100%;
  padding: 1rem;
  padding-top: 0.5rem;
}
.right .right-top-1 .wrapper .item .title {
  display: flex;
}
.right .right-top-1 .wrapper .item .title .title-item {
  color: #fff;
  font-size: 0.75rem;
  width: 25%;
}
.right .right-top-1 .wrapper .item .title .title-item:nth-child(1) {
  font-size: 0.875rem;
  color: #00d2ff;
  width: 50%;
}
.right .right-top-1 .wrapper .item .content .data {
  display: flex;
  align-items: center;
  line-height: 1.4;
}
.right .right-top-1 .wrapper .item .content .data .title {
  font-size: 0.75rem;
  color: #fff;
  width: 50%;
}
.right .right-top-1 .wrapper .item .content .data .value {
  width: 25%;
  color: #0ce773;
}
.right .right-top-1 .wrapper .item .content .data .value.warning {
  color: #ffc412;
}
.right .right-top-1 .wrapper .item .content .data .value.error {
  color: #f84849;
}
.right .right-top-2 .wrapper, .right .right-bottom-2 .wrapper {
  display: flex;
  justify-content: space-between;
}
.right .right-top-2 .wrapper .item, .right .right-bottom-2 .wrapper .item {
  width: 50%;
}
.right .right-top-2 .wrapper .item .wave-items, .right .right-bottom-2 .wrapper .item .wave-items {
  display: flex;
  flex-wrap: wrap;
}
.right .right-top-2 .wrapper .item .wave-items .circle-wrapper, .right .right-bottom-2 .wrapper .item .wave-items .circle-wrapper {
  width: 50%;
  margin-top: 0.5rem;
}
.right .right-top-2 .wrapper .item .wave-items .circle-wrapper:nth-child(2) .circle, .right .right-bottom-2 .wrapper .item .wave-items .circle-wrapper:nth-child(2) .circle {
  border-color: #ff4a4a;
}
.right .right-top-2 .wrapper .item .wave-items .circle-wrapper:nth-child(2) .circle .wave, .right .right-bottom-2 .wrapper .item .wave-items .circle-wrapper:nth-child(2) .circle .wave {
  border-color: #ff4a4a;
  color: #ff4a4a;
}
.right .right-top-2 .wrapper .item .wave-items .circle-wrapper:nth-child(3) .circle, .right .right-bottom-2 .wrapper .item .wave-items .circle-wrapper:nth-child(3) .circle {
  border-color: #00d2ff;
}
.right .right-top-2 .wrapper .item .wave-items .circle-wrapper:nth-child(3) .circle .wave, .right .right-bottom-2 .wrapper .item .wave-items .circle-wrapper:nth-child(3) .circle .wave {
  border-color: #00d2ff;
  color: #00d2ff;
}
.right .right-top-2 .wrapper .item .wave-items .circle-wrapper:nth-child(4) .circle, .right .right-bottom-2 .wrapper .item .wave-items .circle-wrapper:nth-child(4) .circle {
  border-color: #0dc406;
}
.right .right-top-2 .wrapper .item .wave-items .circle-wrapper:nth-child(4) .circle .wave, .right .right-bottom-2 .wrapper .item .wave-items .circle-wrapper:nth-child(4) .circle .wave {
  border-color: #0dc406;
  color: #0dc406;
}
.right .right-top-2 .wrapper .item .wave-items .circle, .right .right-bottom-2 .wrapper .item .wave-items .circle {
  width: 70px;
  height: 70px;
  background: transparent;
  border: 2px dashed #fa9e2d;
  border-radius: 50%;
  overflow: hidden;
  padding: 0.5rem;
}
.right .right-top-2 .wrapper .item .wave-items .circle .wave, .right .right-bottom-2 .wrapper .item .wave-items .circle .wave {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 3px solid #fa9e2d;
  border-radius: 50%;
  color: #fa9e2d;
  text-align: center;
}
.right .right-top-2 .wrapper .item .wave-items .circle .wave .num, .right .right-bottom-2 .wrapper .item .wave-items .circle .wave .num {
  display: block;
}

#right-top-echarts-1 {
  height: 200px;
}

#right-bottom-echarts-1 {
  height: 200px;
}

#right-bottom-echarts-2 {
  width: 120%;
  height: 200px;
}

#right-bottom-echarts-3 {
  padding-left: 10px;
  height: 200px;
}

html, body {
  font-family: "SF Pro SC", "SF Pro Text", "SF Pro Icons", "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
}

body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 1920px;
  height: 1080px;
  position: relative;
  transform-origin: top left;
  transform: scale(1);
  display: grid;
  grid-template-columns: [line1] 530px [line2] 860px [line3] 530px;
  grid-template-rows: [line1] 120px [line2] 960px;
  background: url(../../assets/page-bg.jpg) no-repeat left top/1920px 1080px;
}

/*# sourceMappingURL=index.css.map */
